
/**Custom theme color**/
:root {
    --white-color: #ffffff;
    --black-color: #151515;
    --light-black-color:#222;
    --red-color: #ff2d36;
    --orange-color:#fd5f15;
    --crayon-color: #2ca480;
    --blue-color: #1651b9;
    --pink-color:#fa3fb2;
   
}


/**Common CSS**/
*{margin: 0; padding: 0;}
html {scroll-behavior: smooth;}
body{ font-family: 'Noto Sans Display', sans-serif; font-size: 18px; font-weight: 300; overflow-x: hidden; background-color: var(--inst-theme-color4);}
h1,h2,h3,h4,h5,h6{font-family: 'Philosopher', sans-serif; font-weight: 700;}
.h6, h6 { font-size: 1.25rem;}
p{margin-bottom: 16px;}
.btn{padding: 18px 32px; font-size: 22px;font-weight: 600;border-radius: 40px;margin-bottom: 26px; display: inline-block;}
.img-responsive{max-width: 100%;}
.text-right{text-align: right;}
.text-center{text-align: center;}

/*************grid css*********************/
.row{display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;}
.sec-row{display: none; flex-direction: row; align-items: center;}
.sec-row.show-details{display: flex;}
.skills-row{display: flex; flex-direction: row; align-items: center; flex-wrap: wrap; margin-bottom: 24px;}
.col-12{width: 100%;}
.col-lg-6{width: 60%;}
.col-lg-5{width: 50%;}
.col-lg-4 {width: 40%;}

.three-grid-row{display: flex; width: 100%; gap: 40px;margin-top: 40px; margin-bottom: 40px;}
.three-grid-row .col{flex:1;}
 


/************base css***********************/
.wrapper{display: flex; flex-direction: row;height: 100vh; width: 100%; overflow: hidden;}
aside{width: 300px; flex: none;}
main{width: 100%; padding: 40px; overflow-y: auto;}
.dp{text-align: center; margin-top: 24px; margin-bottom: 20px;}
.img-dp{width: 116px; height: 116px; object-fit: cover; object-position: top; border-radius: 50%; border: 3px solid;}
.nav-list{list-style: none;border-top: 1px solid;}
.nav-list a{display: block; padding: 12px 32px; border-bottom: 1px solid; text-decoration: none; font-weight: 300; opacity: .6;}
.nav-list a.active{opacity: 1;font-weight: 500;}


.heading{ font-size: 52px; margin-bottom: 24px;}
.heading-2{font-size: 52px; margin-bottom: 54px; position: relative;}
.heading-2::before{content: ''; position: absolute; width: 150px; height: 4px; bottom: -6px;}
.heading-2::after{content: ''; position: absolute; width: 120px; height: 4px; bottom: -16px; left:0 ; opacity: .8;}
.typeing-text{ font-size: 24px; font-weight: 300;}
.img-hero{text-align: center; border: 8px solid; border-radius: 50% 50% 0 0; padding: 70px 40px 0 40px; background-color: var(--light-black-color);
    max-width: 460px; margin: auto;}
.img-hero img{display: block;}


.box{padding: 22px; border-radius: 12px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);}
.txt-h3{font-size: 26px; margin-bottom: 22px;}
.three-grid-row .col ol{margin-left: 20px;}
.three-grid-row .col ol ul{margin-left: 20px; margin-bottom: 10px;}
.three-grid-row .col ol ul li{margin-bottom: 8px;}
.three-grid-row .col ol li{margin-bottom: 15px;}
.three-grid-row .col ol li:last-child{margin-bottom: 0;}
.table{border:1px solid; border-spacing: 0;}
.table th{border-bottom: 1px solid; padding: 8px 12px; text-align: left; font-weight: 600;}
.table td {border-bottom: 1px solid; padding: 8px;}

.skills-row p{margin-bottom: 8px;}
.progressbar{ width: 100%; height: 4px; background-color: var(--black-color); opacity: .8; position: relative;}
.progressbar p{margin-bottom: 0;}
.high{width: 90%; height: 4px; }
.medium{width: 50%; height: 4px;}





/*************black theme************************/
.black .wrapper{background-color: var(--black-color); }
.black aside{background-color: var(--light-black-color);}
.black .btn-color{background-color: var(--red-color); color: var(--white-color);}
.black .btn-color:hover{color: var(--red-color); background-color: var(--white-color);}
.black .nav-list a{color: var(--white-color);}
.black .heading-2::before{background-color: var(--red-color);}
.black .heading-2::after{background-color: var(--red-color);}
.black .box{ background-color: var(--light-black-color); color: var(--white-color);}
.black .table thead{background-color: var(--white-color); color: var(--light-black-color);}
.black .high, .black .medium{background-color: var(--white-color);}

/*************txt red************************/
.black .wrapper{color: var(--white-color);}
.black .p-name{color: var(--red-color);}
.black .typer {color: var(--red-color); font-weight: 600;}





@media only screen and (max-width: 1399px) {
    
    
}


@media only screen and (max-width: 1199px) {
.col-md-6{width: 60%;}
.col-md-5{width: 50%;}
.col-md-4 {width: 40%;}
    
    
}



@media only screen and (max-width: 991px) {
    
    
}



@media only screen and (max-width: 767px) {
  .col-sm-7{width: 70%;}
  .col-sm-5{width: 50%;}
  .col-sm-3{width: 30%;}
    


}



@media only screen and (max-width: 575px) {
   
}

