
/**Custom theme color**/
:root {
    --white-color: #ffffff;
    --black-color: #151515;
    --light-black-color:#222;
    --red-color: #ff2d36;
    --orange-color:#fd5f15;
    --crayon-color: #2ca480;
    --blue-color: #1651b9;
    --pink-color:#fa3fb2;
   
}


/**Common CSS**/
*{margin: 0; padding: 0;}
html {scroll-behavior: smooth;}
body{ font-family: 'Noto Sans Display', sans-serif; font-size: 18px; font-weight: 400; overflow-x: hidden; background-color: var(--inst-theme-color4);}
h1,h2,h3,h4,h5,h6{font-family: 'Philosopher', sans-serif; font-weight: 700;}
.h6, h6 { font-size: 1.25rem;}
p{margin-bottom: 16px;}
.btn{padding: 18px 32px; font-size: 22px;font-weight: 600;border-radius: 40px;margin-bottom: 26px; display: inline-block;}

/*************grid css*********************/
.row{display: flex; flex-direction: row;}
.col-12{width: 100%;}
.col-lg-6{width: 60%;}
.col-lg-5{width: 50%;}
.col-lg-4 {width: 40%;}
 



.wrapper{display: flex; flex-direction: row;height: 100vh; width: 100%; overflow: hidden;}
aside{width: 300px; flex: none;}
main{width: 100%; padding: 40px;}

/************base css***********************/
.heading{ font-size: 52px; margin-bottom: 24px;}
.typeing-text{ font-size: 24px; font-weight: 300;}


/*************black theme************************/
.black .wrapper{background-color: var(--black-color); }
.black aside{background-color: var(--light-black-color);}
.black .btn-color{background-color: var(--red-color); color: var(--white-color);}
.black .btn-color:hover{color: var(--red-color); background-color: var(--white-color);}


/*************txt red************************/
.black .wrapper{color: var(--white-color);}
.black .p-name{color: var(--red-color);}
.black .typer {color: var(--red-color); font-weight: 600;}





@media only screen and (max-width: 1399px) {
    
    
}


@media only screen and (max-width: 1199px) {
.col-md-6{width: 60%;}
.col-md-5{width: 50%;}
.col-md-4 {width: 40%;}
    
    
}



@media only screen and (max-width: 991px) {
    
    
}



@media only screen and (max-width: 767px) {
  .col-sm-7{width: 70%;}
  .col-sm-5{width: 50%;}
  .col-sm-3{width: 30%;}
    


}



@media only screen and (max-width: 575px) {
   
}

