/*********Fonts*************/
@font-face {
    font-family: 'Noto Serif';
    src: url('./fonts/NotoSerif-Regular.eot');
    src: url('./fonts/NotoSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/NotoSerif-Regular.woff2') format('woff2'),
         url('./fonts/NotoSerif-Regular.woff') format('woff'),
         url('./fonts/NotoSerif-Regular.ttf')  format('truetype'),
         url('./fonts/NotoSerif-Regular.svg#Noto Serif') format('svg');
}
@font-face {
    font-family: 'Noto Serif';
    src: url('./fonts/NotoSerif-Italic.eot');
    src: url('./fonts/NotoSerif-Italic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/NotoSerif-Italic.woff2') format('woff2'),
         url('./fonts/NotoSerif-Italic.woff') format('woff'),
         url('./fonts/NotoSerif-Italic.ttf')  format('truetype'),
         url('./fonts/NotoSerif-Italic.svg#Noto Serif') format('svg');
}
@font-face {
    font-family: 'Noto Serif';
    src: url('./fonts/NotoSerif-BoldItalic.eot');
    src: url('./fonts/NotoSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/NotoSerif-BoldItalic.woff2') format('woff2'),
         url('./fonts/NotoSerif-BoldItalic.woff') format('woff'),
         url('./fonts/NotoSerif-BoldItalic.ttf')  format('truetype'),
         url('./fonts/NotoSerif-BoldItalic.svg#Noto Serif') format('svg');
}
@font-face {
    font-family: 'Noto Serif';
    src: url('./fonts/NotoSerif-Bold.eot');
    src: url('./fonts/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/NotoSerif-Bold.woff2') format('woff2'),
         url('./fonts/NotoSerif-Bold.woff') format('woff'),
         url('./fonts/NotoSerif-Bold.ttf')  format('truetype'),
         url('./fonts/NotoSerif-Bold.svg#Noto Serif') format('svg');
}

:root{
    --blue:#234FF1;
    --blue-8:#eaedf9;
    --gray: #c8d1ef;
    --mat-black: #727da4;
    --light-black: rgba(0, 0, 0, .3);
    --light-gray: rgba(0, 0, 0, .1);
    --white: #fff;
    --bs-gray-200: #e9ecef;
    --bs-silver: #b2b9d1;
    --bs-gold: #e7b11a;
    --bs-diamond: #7bd7ff;
    
}


