/******Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**Custom theme color**/
:root {
    --inst-light-cyan: #e5f4f8;
    --inst-theme-color: #006ee5;
    --secondery-color:#4c4c4c;
    --inst-theme-color-sm-light: #0289b3;
    --inst-green-color: #299505;
    --inst-orange-color: #ff690f;
    --ins-light-blue: #dcedff;
    --bor-color: #abd4ff;
}


/**Common CSS**/
h1,h2,h3,h4,h5,h6{font-family:'Poppins', sans-serif;}
body{font-family:'Inter','Poppins', sans-serif; font-size: 18px; font-weight: 500; color: var(--secondery-color);}
.btn-success-gradient{ background-color: var(--bs-warning); border: 2px solid var(--bs-warning); color: var(--bs-dark);  padding: .8rem 1.8rem;  position: relative; 
    font-weight: 600; z-index: 2; text-wrap: nowrap; border-radius: 30px; transition: all 0.3s ease-in-out;}
.btn-success-gradient:hover{color: var(--bs-dark); border: 2px solid var(--bs-warning); background-color: var(--bs-white);}

.txt-green{color: var(--inst-green-color)}
.txt-orange{color: var(--inst-orange-color)}
.txt-theme-color-light{color:var(--inst-theme-color-sm-light)}
.card-title{font-size: 1.2rem; font-weight: 600;}
.benifit-sec .card, .sec-abt-product .card, .pain-section .card, .relief .card, .owl-item .card {border-color: var(--bor-color) !important;}


@keyframes slide {0% {top:-20rem; } 100% {top:0rem;}}
.header-container{position: sticky; transition: all 0.3s ease-in;}
.header-container.fixed{position: fixed; z-index: 9; left: 0rem; right: 0rem; transition: all 0.5s ease-in; animation: slide; animation-duration: 0.5s;  }
.header{padding: .4rem 1rem; background-color: var(--bs-dark);color:var(--bs-white); text-align: center;}

.navbar-brand.logo{font-weight: 700; color: var(--bs-white); font-size: 1.7rem;}
.offer-text{margin-bottom: 0px;}
.header-container.fixed .offer-text{font-size: .9rem;}
.off{color: var(--bs-dark); margin: 0px 6px; position: relative; z-index: 2;}
.off::after{content: ""; display: block; height: 120%; width: 120%; margin-left: -4px; margin-right: 0px; position: absolute; background: var(--bs-warning);
    top: -2px; left: -3px; border-radius: 0.9rem; padding: 10px 3px 3px 10px; z-index: -1;}
.main-nav{background-color:var(--inst-theme-color); padding-top: 0.9rem; padding-bottom: 0.9rem; box-shadow: 0px 3px 4px rgba(24, 75, 90, 0.22);}
.header-container.fixed .main-nav{ padding-top: 0.4rem; padding-bottom: 0.4rem; top: -1px;}
#main_menu{flex:none;}
.ico-menu{display: flex; flex-direction: column; justify-content: center;}
.main-nav .navbar-nav{width: 100%; justify-content: center;}
#main_menu .d-flex{align-items: center;}
.main-nav .nav-link{color: var(--bs-white); font-size: 1.25rem; padding: 0px 0.8rem; margin-right: 0.4rem; font-weight: 500; position: relative; z-index: 2; }
.main-nav .nav-link:hover{color: var(--bs-warning); }
.navbar-toggler div{width: 1.6rem; height: 2px; background-color: var(--bs-white);}
.navbar-toggler .middle-line{margin: 0.4rem 0rem;}
.hiden-sm-down{display: block;}
    .hiden-sm-up{display: none;}

 
/******Hero Section**********/

.hero-image{position: relative; overflow: hidden; background-image: url(../images/traning.jpg); background-size: cover; padding: 8rem 0rem; background-position: right; }
.hero-image::before{content: ''; position: absolute; top:0px; right: 0px; bottom: 0px; left: 0px; background-color: rgba(0, 0, 0, .40)}
.img-container{ position: absolute; right: 0px; height: 100%; width: 45vw; top: 0px; overflow: hidden;    border-radius: 15rem 0rem 7rem 2rem;}
.img-container img{width: 100%; height: 100%; object-fit: cover; object-position: center;}

.hero-container{ width: 100%; padding-right: 5rem; position: relative;}
.ratting {color:var(--bs-warning); font-size: 1.3rem;}
.ratting li{margin-right: 0.1rem !important;}
.count-review{font-size: 1.2rem; font-weight: 700; color:var(--bs-warning);}
.txt-hero-heading{font-size: 2.6rem; font-weight: 700; color:var(--bs-warning); }
.txt-hero-heading span{color: var(--bs-white);}
.hero-container .bi-check2-circle{font-size: 1.4rem; margin-right: 0.4rem;}
.txt-offer{color:var(--bs-white);}
.click{position: relative;}
.click .bi-hand-index-thumb-fill::after{ content: ''; position: absolute; width: 2rem; height: 2rem; border: 1px solid rgba(138, 138,138, .6); border-radius: 50%;
    right: 1.3rem; margin-top: -0.2rem; background-color: rgba(16, 16, 16, 0.21); z-index: -1;}
.payment-type{max-width: 300px; margin-top: 0.4rem;}
.txt-high-light{position: relative; font-weight: 700;}
.btn-modal{background-color: var(--bs-warning); border-radius: 50%; color: var(--bs-dark);  font-size: 2rem; margin: 3rem 0rem; line-height: 0rem; padding: 1rem; 
    box-shadow: 0 0 0 4px rgba(0,0,0,.25); position: relative;  z-index: 4;}
.btn-modal::after{content: ''; position: absolute; width: 6rem; height: 6rem; border-radius: 50%; background-color: rgba(0, 0, 0, .11); left: -16px; top: -16px; 
    box-shadow: 0px 0px 2px; animation: blink infinite 0.5s; transition-delay: 0.2s;}
@keyframes blink {0% {transform:scale(1); } 100% {transform: scale(1.15);}}
.button-title{color:#fff; margin-left: 1.2rem;}
.btn-close-mdl-info{position: absolute; right: -1rem; top: -1rem; border-radius: 50%; background-color: var(--bs-danger); border: none; color: var(--bs-white); font-size: 1.5rem;}

/******scroll Section**********/
.scrollr-container{ display: flex; width:100%; overflow:hidden; background-color: var(--bs-dark); color:var(--bs-white);}
.injury-name{ display: flex; width: 20rem; justify-content: center; align-items: center; background-color: var(--bs-warning); background-color: var(--bs-warning); 
    color: var(--bs-dark); font-size: 1.2rem; font-weight: 600;}
.scrollr-container .owl-carousel{width: calc(100% - 200px); padding: 0.8rem 1rem}
.scrollr-container .owl-stage-outer{height: 2.4rem;}
.scrollr-container .owl-item .item{display: flex; align-items: center;}
.click .bi {margin-left: 10px;}
.owl-item-icon{width: 2.2rem !important; margin-right: 0.4rem;}

/****** Benifit **********/
.benifit-sec{margin-bottom: 6rem;}
.sec-heading{ text-align: center; padding-top: 2rem; padding-bottom: 2rem; color: var(--secondery-color); font-weight: 600;}
.benifit-sec .card-body{ height: 10rem; display: flex; flex-flow: column; }
.benifit-sec .icon-card{font-size: 2rem;color: var(--inst-theme-color-sm-light); display: flex; vertical-align: top; justify-content: center;}
.benifit-sec .benifit-icon{width: 2.1rem; margin: 0.3rem 0rem 0.4rem 0rem;}
.benifit-sec .wallet{width: 1.8rem; margin: 0.2rem 0rem 0.6rem 0rem;}
.benifit-sec .pinch{ margin: 0.2rem 0rem 0.3rem 0rem;}
.sub-heading{font-size: 1.6rem; font-weight: 600; color: var(--secondery-color);}
.device-benifit{margin-top: 5.5rem; margin-bottom: 5rem;}
.device-benifit .card{ min-height: 10rem; margin: 0.8rem 0rem;}
.device-benifit .card:hover{background-color: var(--inst-theme-color); color:var(--bs-white)}
.device-benifit .card:hover img{filter:none; -webkit-filter: none;  -moz-filter: none; -ms-filter: none;}



/****** Benifit **********/
.sec-abt-product{background-color: var(--ins-light-blue); padding-top: 3rem; padding-bottom: 3rem;}
.img-md{max-width: 75%;}
.sec-abt-product .card{position: relative; margin-bottom: 1rem; padding-left: 2rem; box-shadow: 0px 1px 1px 0px rgba(0,0,0,.1); transition: 0.3s;}
.sec-abt-product .adv-ico{position: absolute; left: -2.3rem; width: 4.5rem; height: 4.5rem; background-color: var(--bs-white); padding: .8rem; border-radius: 50%;  
    top: calc(50% - 36px); border: 1px solid #abd4ff; border-right-color: transparent; border-bottom-color: transparent; transform: rotate(-45deg);}
.sec-abt-product .adv-ico img{transform: rotate(45deg); max-width: 100%;}
.sec-abt-product .card:hover{transform: scale(1.1);}


/****** satisfied customers **********/
.satisfied-customers{position: relative; padding: 0px 3rem;}
.satisfied-customers .owl-item .card{border:1px solid #a7a7a7; border-radius: 0.6rem; overflow: hidden;}
.satisfied-customers .owl-item:hover{border-radius: 0.6rem; transform: scale(1.1); --webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1);}
.satisfied-customers .owl-item .card img{width: 100%; height: 100%; max-height: 10rem;  min-height:18rem; object-fit: cover; object-position:top center;}
.satisfied-customers .owl-nav{font-size: 2rem; background-color: transparent;}
.satisfied-customers .owl-nav .owl-prev{position: absolute; left: 0px; top: 50%; color: var(--secondery-color) !important;}
.satisfied-customers .owl-nav .owl-next{position: absolute; right: 0px; top: 50%; color: var(--secondery-color) !important;}
.satisfied-customers .owl-nav .owl-prev:hover , .satisfied-customers .owl-nav .owl-next:hover  {font-size: 2rem; background-color: transparent; color:var(--inst-theme-color) !important;}




/****** Typing **********/
.bg-typer{ background-color:  var(--inst-theme-color); padding: 1rem; text-align: center; font-size: 1.5rem; color: var(--bs-white);}
.typer { color:var(--bs-warning) !important; font-weight: 600; text-transform: uppercase;}
.bstrip-text{margin-bottom: 0px;}

/*********pain-section**************/
.pain-section{padding: 4rem 0rem;}
.img-media{height:100%; max-height: 14rem; min-height: 5rem;}

.icon-container { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin: auto;  }
.icon-container .card{margin: 1rem; border:1px solid rgba(255, 255, 255, 0.15);; background-color:rgba(255, 255, 255, 0.05); color:var(--bs-white);  height: 10rem;}
.card-icon{height:100%; max-height: 4rem; margin: auto;}
.card-icon .img-fluid{width: auto; height: 4rem; padding-top: 0.5rem; filter: brightness(0.3); -webkit-filter: brightness(0.3); -moz-filter: brightness(0.3); 
    -ms-filter: brightness(0.3);}
.back-icon{color:#fff;}
.pain-section .card:hover{transform: scale(1.1); z-index: 2; transition: .3s; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.11); border-color: transparent !important;}


/**********Specialties Section***********************/
.specialties{padding:2rem 0rem;}
.sl-number{font-size: 1.5rem; font-weight: 700; margin-right: 1rem; padding: 1rem; position: relative;}
.sl-number::after{ content: ''; background-color: var(--bs-warning) !important; width: 2.8rem; height: 2.8rem; position: absolute; left: 0rem; z-index: -1;
    transform: rotate(45deg);  border-radius: 0.4rem; top: 11px;}
.specialties .panel-heading{font-size: 1.5rem; font-weight: 600;}
.specialties .col-12:hover{ box-shadow: 0px 3px 8px rgba(199, 97, 1, 0.11); background-color: var(--inst-theme-color) !important; color: var(--bs-white);}


/**********Relif Section***********************/
.relief{padding:2rem 0rem 4rem;}
.floting-icon{position: absolute; width: 4rem; height: 4rem; background-color: var(--inst-theme-color); padding: 0.5rem; border-radius: 50%; right: 0.5rem; bottom: 0.5rem;}
.relief .card-group .card{transition: all 0.3s ease-in-out;}
.relief .card-group .card-img-top{height: 310px; object-fit: cover; object-position: bottom;}
.relief .card-group .card:hover{transform: scale(1.1); z-index: 2;  box-shadow: 0px 3px 8px rgba(0, 0, 0, .11); background-color: var(--inst-theme-color); 
    color:var(--bs-white);}


/**********Comprare Section***********************/
.comprare{padding: 4rem 0rem; background-color: var(--ins-light-blue);}
.comprare .table{vertical-align: middle; text-align: center;}
.comprare .table-header tr th{background-color: var(--inst-theme-color-sm-light); color:var(--bs-white); height: 72px; vertical-align: middle;} 
.comprare tr, .comprare th{height: 2.5rem;}
.comprare td{height: 72px; background-color: var(--bs-white);}
.table-hover>tbody>tr:hover { --bs-table-accent-bg: #e8f2fd; color: var(--bs-table-hover-color);}
.comprare .ico-yes, .comprare .ico-cross{    width: 2rem;}



/*********Testimonial*****************/
.testimonial{position: relative; padding: 4rem 0rem; }
.testimonial .card-img-top{height: 20rem;}
.feedback .card-title {font-size: 1.1rem;}
.feedback .txt-status {color:var(--inst-green-color); font-size: 0.8rem; font-weight: 500; position: absolute; right: 10px;}
.feedback {position: relative; padding: 0px 3rem;}
.feedback .owl-item .card{border:1px solid; border-radius: 0.6rem; overflow: hidden;}
.feedback .owl-item .card img{width: 100%; height: 100%; max-height: 10rem;  min-height:18rem; object-fit: cover; object-position:top center;}
.feedback .owl-nav{font-size: 2rem; background-color: transparent;}
.feedback .owl-nav .owl-prev{position: absolute; left: 0px; top: 50%; color: var(--secondery-color) !important;}
.feedback .owl-nav .owl-next{position: absolute; right: 0px; top: 50%; color: var(--secondery-color) !important;}
.feedback .owl-nav .owl-prev:hover , .feedback .owl-nav .owl-next:hover  {font-size: 2rem; background-color: transparent; color:var(--inst-theme-color) !important;}
.ratting-star {font-size: 1rem; color:var(--bs-warning); margin-bottom: .4rem;}
.ratting-star li{margin-right: .1rem !important; margin-bottom: 0.5rem;}
.feedback .card-title{padding-right: 8.5rem;}

.rating-container { display: flex; justify-content: space-between; margin-bottom: 1.5rem;}
.rating-text { padding-left: 15px; padding-right: 15px; width: 220px; text-align: center;}
.rating-text h1 {font-size: 2.5rem; color: var(--secondery-color); font-weight: 700;}
.rating-text ul, .rating-star ul { display: flex; flex-direction: row; justify-content: space-between; color: var(--inst-green-color);; padding-left: 0px; margin-bottom: 0.25rem;}
.rating-bar {width: 100%;}
.rating-bar ul { width: 100%; display: flex; flex-direction: column; justify-content: space-between; height: 140px; margin-bottom: 0.55rem;  margin-top: 0.3rem;}
.rating-text li, .rating-bar ul li, .rating-star li { list-style: none;}
.progres-wrapper { width: 100%; height: 14px; background-color: rgba(0,0,0,0.1); box-shadow: inset 0 2px 6px -6px rgb(0, 0, 0, .27);
    border-radius: 4px; position: relative; overflow: hidden;}
.progres-wrapper span { position: absolute; top: 0px; left: 0px; bottom: 0px; background-color: var(--inst-green-color); }
.progres-wrapper .fst-bar {width: 89%;}
.progres-wrapper .secnd-bar { width: 11%;}
.rating-star { padding-left: 15px;  padding-right: 15px; width: 260px;}
.rating-star div { display: flex; flex-direction: column;}
.txt-persentage{color:var(--secondery-color); font-weight: 600;}
.rating-star .bi-star{color:var(--secondery-color);}



/************FAQ*********************/
.faq {position: relative; padding: 4rem 0rem; background-color:  var(--ins-light-blue);}
.faq .col-md-10{margin: auto;}
.faq .accordion-button{font-size: 1.3rem; font-weight: 500; background-color: transparent;}
.faq .accordion-button:focus{box-shadow: none; border-bottom: none;}
.faq .accordion-button:not(.collapsed){box-shadow: none;}
.faq .accordion-item{margin-bottom: 1rem; border-radius: 0.5rem; overflow: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, .11);}
.faq .accordion-button:not(.collapsed){color: var(--inst-theme-color);}



/*************Footer***********************/
.footer{background-color: var(--inst-theme-color); padding: 1rem 0rem; color:var(--bs-white); font-size: 1rem; font-weight: 300; font-family: 'Poppins';}
.footer a{color:var(--bs-white); text-decoration: none;}
.footer a:hover{color: var(--bs-warning);}




@media only screen and (max-width: 1399px) {
    .icon-container .card .title{font-size: 1rem;}
}


@media only screen and (max-width: 1199px) {
    body{font-size: 16px;}
    .navbar-brand.logo{font-size: 1.4rem;}
    .main-nav .nav-link{font-size: 1.02rem;}
    .ratting{font-size: 1rem;}
    .count-review{font-size: .9rem;}
    .txt-hero-heading{font-size: 2rem;}
    .txt-high-light::before{ top: 0px; left: 2rem; width:18.5rem ;}
    .sec-heading{font-size: 2rem;}
    .icon-container .card{font-size: .85rem; height: 9.5rem;}
    .card-title{font-weight: 500;}
    .card-icon, .card-icon .img-fluid{max-height: 3.5rem;}
    .sl-number::after{ width: 2.3rem; height: 2.3rem; left: 0.2rem;}
    .panel-heading, .sl-number{font-size: 1.2rem;}
    .rating-star div{margin-bottom: 0.2rem;}
    
}



@media only screen and (max-width: 991px) {
    .hero-image{margin-top: 6rem; padding: 6rem 0rem;}
    .hero-container{padding-right: 0rem;}
    .img-container{position: relative;  right: -2.3rem; height: 100%; border: 1rem solid var(--bs-warning);}
    .img-xs-7{max-width: 70%; margin: 0rem auto 1rem; display: flex; border-radius: 0.2rem;}
    .header-container{position: fixed; top: 0px; z-index: 99; left: 0px; right: 0px;}
    .main-nav .btn-success-gradient{ padding: 0.6rem 1.2rem;}
    #main_menu{ width: 100%; position: absolute; background-color: var(--bs-dark); left: 0px; right: 0px; top: 74px;}
    .header-container.fixed #main_menu{top: 60px;}
    #main_menu .d-flex{width: 100%;}
    #main_menu .nav-item{margin-top: 0.5rem; margin-bottom: 0.5rem;}
    .swing {position: relative;}
    .swing .middle-line{opacity: 0;}
    .swing .top-line{position: absolute; transform: rotate(45deg); }
    .swing .bottom-line{ position: absolute; transform: rotate(135deg); }
    .main-nav .nav-link::after,
    .main-nav .nav-link:hover::after{transform: rotate(0deg); width: 0.2rem; border-radius: 0px; padding: 0px;}
    .icon-container .card .card-body {padding: 0.4rem;}


    .rating-star{width: 300px;}
    .rating-text{width: 250px;}
    .rating-bar ul{padding-left: 0.2rem;}

    .device-benifit .card{min-height: 9rem;}
    
}



@media only screen and (max-width: 767px) {
    .header{font-size: .8rem;}
    .navbar-brand.logo { font-size: 1.1rem;}
    .relief .card-group{flex-direction: column; }
    .relief .card-group .card{margin-bottom: 0.75rem; border-left: 1px solid;}
    .col-md-5{width:100%; margin-bottom: 0.8rem;}
    .txt-hero-heading{text-align: center; font-size: 1.8rem;}
    .ratting{text-align: center;}
    .sec-heading { font-size: 1.7rem; }
    .img-container{width: 100%;  height: 30rem; right: 0rem; left: 0rem; margin: 1rem auto 0rem auto;}
    .injury-name{width: 9.5rem; font-size: 1rem;}
    .scrollr-container .owl-carousel{width: calc(100% - 160px);}
    .comprare .table-header tr th{font-size: 1rem;}
    .faq .accordion-button{font-size: 1.1rem;}
    .benifit-sec .card-body{height: 8rem;}
    .bg-typer{font-size: 1.2rem;}
    .img-md{margin: auto; display: block;}
    

  

}



@media only screen and (max-width: 575px) {

    .main-nav .btn-success-gradient { padding: 0.6rem 0.6rem; font-size: .8rem; }
    .feedback .card-title { padding-right: 0rem; }
    .feedback .txt-status{ position: relative;display: block; margin: 0.4rem 0rem 0.4rem 0.6rem;}
    
    .card-icon, .card-icon .img-fluid{max-height: 2.5rem;}
    .icon-container .card{margin: 0.5rem;}
    .txt-high-light::before{left: 0.4rem; width: 96%; right: 0rem; top: auto; bottom: auto; height: 100%;}
    .txt-offer{font-size: 1rem;}
    .specialties { padding: 2rem 0rem; }
    .pain-section{padding-top: 2rem;}
    .hiden-sm-down{display: none;}
    .hiden-sm-up{display: block;}
    .header-container.fixed .offer-text { font-size: .8rem;  }
    #main_menu{top: 65px;}
    .header-container.fixed #main_menu{top: 48px;}
    .sec-abt-product .card{margin-left: 2rem;}
    .pain-section .card .col-4, .pain-section .card .col-8{width: 100%;}
    .pain-section .img-media{ height: 100%; width: 100%; min-height: auto; max-height: none;}

    .device-benifit .card{min-height: 8rem;}
    .device-benifit .card-body{padding: 0.5rem;}

}

