
/**Custom theme color**/
:root {
    --inst-theme-color: #081839;
    --inst-theme-color2: #0056d5;
    --inst-theme-color3: #e0f7fd; 
    --inst-theme-color4: #f1f2f6; 
    --bs-warning: #f79701;

}


/**Common CSS**/
html {scroll-behavior: smooth;}
body{ font-family: 'Noto Sans Display', sans-serif; font-size: 18px; font-weight: 400; overflow-x: hidden; background-color: var(--inst-theme-color4);}
h1,h2,h3,h4,h5,h6{font-family: 'Philosopher', sans-serif; font-weight: 700;}
.h6, h6 { font-size: 1.25rem;}
.btn-success-gradient{ color:var(--bs-white); background-color: var(--inst-green-color); padding: .8rem 1.8rem;  position: relative; overflow: hidden; 
    font-weight: 600; z-index: 2; text-wrap: nowrap; border-radius: 30px; transition: all 0.3s ease-in-out;}
.btn-success-gradient:hover{color:var(--bs-white); transform: scale(1.1);}
.btn-success-gradient .btn-overlay{content:''; height: 100px;  position: absolute; bottom: 0px;  right: 0px; left: 0px; top: 70px; background-color: var(--inst-theme-color); 
    z-index: -1; transition: all 0.3s ease-in-out;}
.btn-success-gradient:hover .btn-overlay{top:0px; transition: all 0.3s ease-in-out;}
.txt-green{color: var(--inst-green-color)}
.txt-orange{color: var(--inst-orange-color)}
.txt-theme-color-alter{color:var(--inst-theme-color2)}
.card-title{font-size: 1.4rem; font-weight: 700;}
.txt-offer{color:#607D8B;}

.bg-theme{ background-color: var(--inst-theme-color); padding: 4rem 0rem;}

.hyper-link{ position: absolute; right: 76px; line-height: 0px; visibility: hidden;    margin-top: -4px; }
.hyper-link::after{ content: "\F402"; font-family: 'bootstrap-icons'; position: absolute; transform: rotate(90deg); right: -70px;}
.main-nav{padding-left: 2rem; padding-right: 2rem; border-bottom: 1px solid var(--inst-theme-color4);}
.main-nav .btn-theme:hover { background-color: var(--inst-theme-color2); border-color: var(--inst-theme-color2); color: var(--bs-white);}
   
.btn-theme{width: 248px; height: 52px; font-weight: 600; position: relative;  background-image: linear-gradient(145deg, #0056d5, #0d6efd); text-indent: 30px; 
    color: var(--bs-white); padding: 0.77rem 2.5rem 0.77rem 0rem; text-wrap: nowrap; transition: all .3s ease-in-out;} 
.btn-theme span{position: relative; z-index: 1;}
.btn-theme .bg-overlay{z-index: 0;}
.btn-theme:hover{color:var(--bs-white); background-image: linear-gradient(145deg, #081f41, #0056d5) !important; }
.btn-theme:hover span{margin-left: -.5rem;}
.btn-theme:hover .hyper-link{visibility: visible;}
.btn-theme:hover .bg-overlay{width: 100%;}

.btn-d-block-lg-up{margin-top: 3rem; margin-bottom: 1rem; text-align: center;}
.d-block-lg-down{display: none; margin-top: 1rem; margin-bottom: 3rem; text-align: center;}



.header-container{background-color: var(--bs-white);}   
.header{padding: .4rem 1rem; background-color: var(--inst-theme-color); color:var(--bs-white); text-align: center; font-size: .8rem;}
.navbar-brand.logo{font-weight: 700; color: var(--inst-theme-color2);}
.logo:-webkit-any-link:focus-visible{outline-offset: none;}
.offer-text{margin-bottom: 0px;}
.off{color: var(--bs-warning); margin: 0px 6px; position: relative; z-index: 2; font-size: 1rem;}
.main-nav.fixed{position:fixed; background-color: var(--bs-white); top: 0px; left: 0px; right: 0px; padding-top: 0.5rem; padding-bottom: 0.5rem; overflow: hidden; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); z-index: 99; animation: anm-slide 1s;}
.main-nav .nav-item{ display: flex; align-items: center;  }
.main-nav .nav-link{color: var(--bs-gray-dark); font-size: 1rem; padding: 0.4rem 1rem !important; margin-right: 0.4rem; position: relative; z-index: 2; transition: all 0.3s ease-in-out;}
.bg-overlay{position: absolute; background-color: var(--inst-theme-color2); width: 0px; text-align: center; margin: auto; left: 0px; right: 0px;
    top: 0px; bottom: 0px; border-radius: 5rem; z-index: -1; transition: all 0.3s ease-in-out;}
.main-nav .nav-link:hover{color:var(--bs-white);}
.main-nav .nav-link:hover .bg-overlay{width: 100%;left: 0px;}
.navbar-toggler div{width: 1.6rem; height: 2px; background-color: var(--inst-theme-color2);}
.navbar-toggler .middle-line{margin: 0.4rem 0rem;}
.main-nav.fixed::before{ min-width: 16rem; height: 12rem; box-shadow: 2px 5px 14px rgba(0,0,0,.1);}

@keyframes anm-slide { 
    from {margin-top: -400px;} to {margin-top: 0px;}
    }



 
/******Hero Section**********/
.hero-image{position: relative; padding-top: 2rem; padding-bottom: 8rem; background-image: linear-gradient(to left, #f3f6f9 50%, #ffffff 50%);}
.hero-container{margin-top: 2rem; position: relative; z-index: 1;}
.ratting {color:var(--bs-warning); font-size: 1.1rem;}
.ratting li{margin-right: 0.1rem !important;}
.count-review{font-size: 1.2rem; font-weight: 700; color:var(--bs-dark);}
.txt-hero-heading{font-size: 3rem; font-weight: 700; color: var(--bs-gray-dark); font-family:'Philosopher', sans-serif;}
.hero-container .bi-check2-circle{font-size: 1.4rem; margin-right: 0.4rem;}
.click{position: relative;}
.click .bi-hand-index-thumb-fill::after{ content: ''; position: absolute; width: 2rem; height: 2rem; border: 1px solid rgba(48, 112, 0, .6); border-radius: 50%;
    right: 1.3rem; margin-top: -0.2rem; background-color: rgba(16, 16, 16, 0.21); z-index: -1;}
.payment-type{max-width: 300px; margin-top: 0.4rem;}
.txt-high-light{position: relative;}
.txt-high-light::before{content: ''; position: absolute; width: 21rem; height: 1.8rem; background-color: var(--bs-warning); top: 0px; left: 2rem; z-index: -1; border-radius: 5px 9px 10px 11px;
    transform: rotate(1deg);}
.banner-container{position: relative; text-align: center; margin: auto;}


/*****Benifit********/
.benifit-sec{position: relative; width: 100%; }
.benifit-sec-bg{background-image: url(../images/therafoot1.webp); background-size: cover; background-repeat: no-repeat;display: flex;}
.benifit-sec-bg p{ display: flex; justify-content: center; align-items: center;}
.benifit-sec .container{position: relative; margin-top: -17.5rem; background-color: var(--bs-white);}
.benifit-sec::after{content: ''; background-color: var(--bs-white); position: absolute; bottom: 0px; top: 0px; width: 50%; right: 0px; z-index: -1;}
/*****section 2********/
.advantage{padding-top: 5rem;}
.advantage .row{background-color: var(--bs-white);}
.advantage .card{fill:var(--inst-theme-color2); text-align: center; border: none; overflow: hidden; border-radius: 0px; position: relative; transition: all 0.3s;} 
.adv-vertical-card{border-right: 1px solid #dee2e6 !important;}
.sl-number{position: absolute; font-weight: bolder; font-size: 7rem; opacity: .05; right: -0.5rem; bottom: -3.9rem; font-family: sans-serif; text-shadow: 3px 4px 0px #000;}
.advantage .card-header{background-color: transparent; border:none;}
.advantage .card-body{background-color: transparent;}
.advantage .card-title{margin-bottom: 1.1rem;}
.adv-icon{ width: 4rem; margin: 1.5rem 1.5rem 0rem;}
.adv-card-1{ height: 18.8rem; object-fit: contain;}
.adv-card-2{height:17rem;}
.advantage .card:hover, .advantage .card .row:hover{ box-shadow: 0px 6px 16px rgba(0,0,0,0.1); } 
.advantage .card:hover .adv-icon, .advantage .card .row:hover .adv-icon{transform:scale(1.1);}
.advantage .card:hover .card-title, .advantage .card .row:hover .card-title{color:var(--inst-theme-color2);}




/****** Benifit **********/
.benifit-sec .card{align-items: center; border: none; padding: 5rem 2rem; text-align: center; border-radius: 0px;}
.benifit-sec .col-6:first-child .card{background-color: var(--bs-white);  }
.benifit-sec .col-6:first-child .card:hover{background-color: var(--bs-light);}
.benifit-sec .col-6:nth-child(2) .card{background-color: var(--bs-cyan); fill: var(--bs-white); color:var(--bs-white);}
.benifit-sec .col-6:nth-child(2) .card:hover{background-color:#07bee3;}
.benifit-sec .col-6:nth-child(3) .card{background-color: var(--bs-yellow); fill: var(--bs-white); color:var(--bs-white);}
.benifit-sec .col-6:nth-child(3) .card:hover{background-color: #e5a600;}
.benifit-sec .col-6:nth-child(4) .card{background-color: var(--inst-theme-color3);}
.benifit-sec .col-6:nth-child(4) .card:hover{background-color:#bee3ed;}
.sec-heading{ text-align: center; padding-top: 2rem; font-size: 3rem; }
.benifit-sec .ico-feature{width: 4.5rem; }
.benifit-sec .benifit-icon{width: 2.1rem; margin: 0.3rem 0rem 0.4rem 0rem;}
.benifit-sec .wallet{width: 1.8rem; margin: 0.2rem 0rem 0.6rem 0rem;}
.benifit-sec .pinch{ margin: 0.2rem 0rem 0.3rem 0rem;}




/****** About Product **********/
.sec-abt-product{padding-top: 2rem; padding-bottom: 2rem;}
.sec-heading{padding-top: 0rem;}




/****** Satisfied Customer **********/
.satisfied-customers{position: relative; padding: 0px 3rem;}
.satisfied-customers .owl-item .card{border:none; overflow: hidden; border-radius: 0px;}
.satisfied-customers .owl-item .card img{width: 100%; height: 100%; max-height: 10rem;  min-height:18rem; object-fit: cover; object-position:top center;}
.satisfied-customers .owl-nav{font-size: 2rem; background-color: transparent;}
.satisfied-customers .owl-nav .owl-prev{position: absolute; left: 0px; top: 50%; color: var(--inst-theme-color) !important;}
.satisfied-customers .owl-nav .owl-next{position: absolute; right: 0px; top: 50%; color: var(--inst-theme-color) !important;}
.satisfied-customers .owl-nav .owl-prev:hover , .satisfied-customers .owl-nav .owl-next:hover  {font-size: 2rem; background-color: transparent; color:var(--inst-theme-color2) !important;}




/****** Typing **********/
.bg-typer{ background-color:  var(--inst-theme-color2); padding: 1rem; text-align: center; font-size: 1.5rem; color: var(--bs-white);}
.typer { color:var(--bs-warning) !important; font-weight: 600; text-transform: uppercase;}
.bstrip-text{margin-bottom: 0px;}


/*********pain-section**************/
.pain-section{margin-top: 2rem; margin-bottom: 5rem;}
.pain-section .card{ position: relative; border-radius: 0rem; border: none; margin-top: 1.5rem; transition: all .3s ease-in-out; z-index: 1; }
.pain-section .card-img-top {text-align: center;}
.pain-section .card-img-top img{width: 85%; margin-top: -1rem;}
.pain-section .card-title{font-size: 1.5rem;}
.pain-section .sec-heading {margin-bottom: 1.4rem;}


/**********Specialties Section***********************/
.specialties .col-12{padding: 1.5rem; background-color: var(--bs-white); border-right: 1px solid #dee2e6;}
.specialties .col-12:nth-child(-n + 3){border-bottom: 1px solid #dee2e6;}
.specialties .col-12:nth-child(3n){border-right: none;}
.panel-heading{font-size: 1.5rem; font-weight: 700; margin-bottom: 1.1rem;}
.specialties .card { background-image: linear-gradient(145deg, #e2e8ec, #ffffff) !important;  border-radius: 8px; padding: 2rem; margin-bottom: 1.5rem;
    border: none; box-shadow: 7px 6px 10px 1px rgba(0,0,0,.06), -7px -6px 10px 1px rgba(255,255,255,1); position: relative; overflow: hidden; z-index: 1;} 
.icon-spl-card{ margin-bottom: 1rem; text-align: center; width: 5.4rem; height: 5.4rem; background-color: #fff; border-radius: 50%; padding: 1rem; position: relative;
    border: 5px solid #dfe4eb;}
.overlay{position: absolute; width: 100%; background-color: var(--inst-theme-color2); bottom: 0px; left:0px; right: 0px; height: 0px; transition: all .3s ease-in-out; z-index: -1;}
.ico-spl{width: 2.5rem;}
.specialties .col-12:hover { fill:var(--inst-theme-color2); } 
.specialties .col-12:hover .panel-heading{color:var(--inst-theme-color2);}
.specialties .col-12:hover .icon-spl-card{border-color: var(--inst-theme-color2); transform: scale(1.05);}



/**** Device For ******/
.sec-device{ padding-top: 5rem; padding-bottom: 3rem;}
.usesFor {background-color: var(--bs-white);}
.usesFor .owl-item .item{text-align: center;}
.usesFor svg{ width: 3rem;} 
.usesFor .owl-item .item:hover{fill: var(--inst-theme-color2); color: var(--inst-theme-color2); transform:scale(1.1);}
.sec-device .owl-stage{padding-top: 1rem;}
.usesFor .owl-prev{position: absolute; left: -2.5rem; top: 3rem; font-size: 2rem !important;}
.usesFor .owl-next{position: absolute; right: -2.5rem; top: 3rem; font-size: 2rem !important;}
.usesFor .owl-prev:hover, .usesFor .owl-next:hover { background-color: transparent !important; color: var(--inst-theme-color2) !important;}
 



/**********Relif Section***********************/
.relief{padding:2rem 0rem 4rem;}
.floting-icon{position: absolute; width: 4rem; height: 4rem; background-color: var(--inst-theme-color); padding: 0.5rem; border-radius: 50%; right: 0.5rem; bottom: 0.5rem;}
.relief .card-group .card-img-top{height: 310px; object-fit: cover; object-position: bottom;}



/**********Comprare Section***********************/
.comprare{padding-bottom: 1rem;}
.comprare .table{vertical-align: middle; text-align: center; margin-bottom: 0rem;}
.comprare .table-header tr th{background-color: var(--inst-theme-color2); color:var(--bs-white); height: 72px; vertical-align: middle;} 
.comprare tr, .comprare th{height: 2.5rem;}
.comprare td{height: 72px; background-color: var(--bs-white);}
.table-hover>tbody>tr:hover { --bs-table-accent-bg: #e8f2fd !important; color: var(--bs-table-hover-color); box-shadow: 0px 0px 1px rgba(0, 0, 0, .40);}
.comprare .ico-yes, .comprare .ico-cross{ width: 2rem;}
.table-striped>tbody>tr:nth-of-type(odd) { --bs-table-accent-bg: var(--inst-theme-color4);}






/*********Testimonial*****************/
.testimonial{position: relative; padding-bottom: 2rem; padding-top: 1.5rem;  }
.testimonial .card-img-top{height: 6rem; width: 6rem !important; margin: auto; border-radius: 50%;}

.feedback .txt-status { font-size: 0.8rem; font-weight: 500; float:right; color: var(--bs-success);}
.feedback {position: relative;  margin-top: 1rem; border-radius: 0.6rem; padding: 1rem 1rem 0rem 1rem; background-color:var(--bs-white); border:none;  }
.feedback .owl-item {padding:1rem;}
.feedback .card{border:none;}

.feedback .owl-nav{font-size: 2rem; background-color: transparent;}
.feedback .owl-nav .owl-prev{position: absolute; left: 0px; top: 42%;}
.feedback .owl-nav .owl-next{position: absolute; right: 0px; top: 42%;}
.feedback .bi-quote{font-size: 4rem; opacity: .2;}
.feedback .owl-nav .owl-prev:hover , .feedback .owl-nav .owl-next:hover  {font-size: 2rem; background-color: transparent; color: var(--inst-theme-color2);}
.ratting-star {font-size: .9rem; color:var(--bs-warning); margin-bottom: .4rem;}
.ratting-star li{margin-right: .1rem !important; margin-bottom: 0.5rem;}


.rating-container { display: flex; justify-content: space-between; margin-bottom: 1.5rem; margin-top: 0.5rem;}
.rating-text { padding-left: 15px; padding-right: 15px; width: 220px; text-align: center;}
.rating-text p{font-size: .95rem;}
.rating-text h1 {font-size: 2.5rem; color: var(--bs-gray-dark); font-weight: 700;}
.rating-text ul, .rating-star ul { display: flex; flex-direction: row; color: var(--inst-theme-color2); justify-content: space-between;  padding-left: 0px; 
    margin-bottom: 0.25rem;}
.rating-star ul{justify-content: left; }
.rating-star li { margin-left: 0.5rem; line-height: 23px;}


.rating-bar {width: 100%;}
.rating-bar ul { width: 100%; display: flex; flex-direction: column; justify-content: space-between; height: 124px; margin-bottom: 0.55rem; margin-top: 0.3rem;}
.rating-text li, .rating-bar ul li, .rating-star li { list-style: none;}
.progres-wrapper { width: 100%; height: 8px; background-color: rgba(0,0,0,0.1); box-shadow: inset 0 2px 6px -6px rgb(0, 0, 0, .27);
    border-radius: 4px; position: relative; overflow: hidden;}
.progres-wrapper span { position: absolute; top: 0px; left: 0px; bottom: 0px; background-color: var(--inst-theme-color2); }
.progres-wrapper .fst-bar {width: 89%;}
.progres-wrapper .secnd-bar { width: 11%;}
.rating-star { padding-left: 15px;  padding-right: 15px; width: 260px;}
.rating-star div { display: flex; flex-direction: column;}
.rating-star .bi-star { color: var(--bs-gray);}
.txt-persentage { color: var(--bs-gray-dark); font-weight: 600;}



 
/************FAQ*********************/
.faq{padding-top: 3rem; position: relative;}
.faq .container{ padding-top: 3rem; padding-bottom: 3rem;}
.faq::after{ content: ''; background-color: var(--bs-white); width: 20rem; position: absolute; bottom: 0px; top: 3rem; left: 0rem; z-index: -1;}
.faq .collage::before{height: 23rem;}
.faq .col-md-10{margin: auto;}
.faq .accordion-button{font-size: 1.3rem; font-weight: 500; background-color: transparent;}
.faq .accordion-button:focus{box-shadow: none; border-bottom: none;}
.faq .accordion-button:not(.collapsed){box-shadow: none;}
.faq .accordion-item{border-radius: 0rem; overflow: hidden; border: none; border-bottom: 1px solid #dee2e6;}
.faq .accordion-button:not(.collapsed) {color: var(--bs-white); font-weight: 600; background-color: var(--inst-theme-color2);}
.faq .accordion-collapse{color: var(--bs-white); background-color: var(--inst-theme-color2); }
.discount-container{ text-align: center; padding-top: 2rem;}


/*************Footer***********************/
.footer{ background-color: var(--inst-theme-color); color: var(--bs-white); padding: 1rem 0rem; font-size: 1rem; font-weight: 400;}
.footer a{color:var(--bs-white); text-decoration: none;}
.footer a:hover{color: var(--inst-theme-color3);}

.back-to-top{ position: fixed; right: 10px; bottom: 10px; font-size: 2rem; width: 3rem; height: 3rem; background-color: var(--inst-theme-color); border-radius: 5px; 
    color:var(--bs-white); text-align: center;  display: none; z-index: 9; }
.back-to-top.show{display: block;}
.back-to-top.show:hover{background-color: var(--inst-theme-color2); color: var(--bs-white); }



@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1440px) {
  .benifit-sec .container::after{width: 103.6%;}
  .faq .container::after{ width: 103.8%;} 
}

@media only screen and (max-width: 1399px) {
    .hero-image{padding-bottom: 16rem; }
    .benifit-sec .container{ margin-top: -17.5rem;}
    .faq .collage::before{height: 20rem;}
    
}


@media only screen and (max-width: 1199px) {
    body{font-size: 16px;}
    .navbar-brand.logo{font-size: 1rem;}
    .main-nav .nav-link{margin-right: 0rem;}
    .ratting{font-size: 1rem;}
    .count-review{font-size: .9rem;}
    .hero-image {padding-bottom: 14rem; }
    .benifit-sec .container { margin-top: -19rem; }
    .txt-hero-heading{font-size: 2rem;}
    .txt-high-light::before{ top: 0px; left: 2rem; width:18.5rem ;}
    .main-nav.fixed::before{min-width: 14rem; height: 10rem;}
    .sec-heading{font-size: 2.5rem;}
    .banner-container::before{height: 24rem;}
    .card-title{font-weight: 500;}
    .panel-heading{font-size: 1.2rem;}
    .rating-star div{margin-bottom: 0.2rem;}
    .specialties{padding: 2rem;} 
    .sec-abt-product{padding-top: 3rem; padding-bottom: 2rem;}
    .faq .collage::before {height: 15.5rem; }
    .sec-abt-product .sec-heading{padding-top: 0rem;}
    .sec-device{padding-bottom: 1rem;}
    .cus-satisfaction{margin-top: 1rem !important;}
    .testimonial{ padding-bottom: 1rem;}
    .pain-section{ margin-top: 3rem; margin-bottom: 3rem;}
    
}



@media only screen and (max-width: 991px) {
    .btn-d-block-lg-up{display: none;}
    .sec-heading.pb-4 { padding-bottom: .5rem !important; }
    .d-block-lg-down{display: block;}
    .main-nav { padding: 0.9rem 0rem; }
    .main-nav.fixed{padding-top: 1rem; padding-bottom: 1rem;}
    .hero-container{padding-right: 0rem;}
    .hero-image{background-image: none; background-color: var(--bs-white); padding: 0rem; }
    .hero-image::before{position: relative; }
    .hero-container .mt-5, .sec-abt-product .mt-5 {margin-top: 1.5rem !important;}
    .banner-container::before{height: 30rem;}
    #main_menu .nav-item{margin-top: 0.5rem; margin-bottom: 0.5rem;}
    .swing {position: relative;}
    .swing .middle-line{opacity: 0;}
    .swing .top-line{position: absolute; transform: rotate(45deg); top: 8px;}
    .swing .bottom-line{ position: absolute; transform: rotate(135deg); top: 8px; }
    .main-nav .nav-link::after,
    .main-nav .nav-link:hover::after{transform: rotate(0deg); width: 0.2rem; border-radius: 0px; padding: 0px;}
    .benifit-sec .container { margin-top: -11.5rem; }
    .benifit-sec .card{ padding: 2rem 1rem;}
    .benifit-sec .ico-feature {  width: 3rem; }
    .banner-container{max-width: 450px; margin: auto; margin-bottom: 8rem;}
    .advantage{padding-top: 4rem;  padding-bottom: 0rem;}
    .advantage .container{max-width: 100%;}
    .rating-star{width: 300px;}
    .rating-text{width: 250px;}
    .rating-bar ul{padding-left: 0.2rem;}
    .sec-abt-product .order-lg-first{ margin-top: 1rem;}
    .pain-section .card{margin-bottom: 1rem;}
    .pain-section .card-img-top img{height:16rem;}
    .sec-device{ padding-top: 4rem;} 
    .specialties .col-12:nth-child(odd){ border-right: 1px solid #dee2e6;}
    .specialties .col-12:nth-child(even){ border-right: none; border-bottom: 1px solid #dee2e6;}
    .specialties .col-12:nth-child(-n + 3) {border-bottom: 1px solid #dee2e6; }
    .specialties .col-12:nth-last-child(1) {border-bottom: none; }
    
    
}



@media only screen and (max-width: 767px) {
  
    .bg-theme { padding: 4rem 0rem; }
    .bg-theme .txt-offer{color:var(--bs-white); font-size: 1rem;}
    .navbar-brand.logo {font-size: 1.4rem;  }
    .main-nav.fixed::before{min-width: 14rem; height: 13rem; left: -2rem; top: -6rem;}
    .banner-container{ max-width: 300px;}
    .hero-image { padding: 0rem 0rem 2rem 0rem; }
    .benifit-sec .col-6:first-child .card {background-color: var(--inst-theme-color4); }
    .relief .card-group{flex-direction: column; }
    .relief .card-group .card{margin-bottom: 0.75rem; border-left: 1px solid;}
    .txt-hero-heading{text-align: center; font-size: 1.8rem;}
    .ratting{text-align: center;}
    .sec-heading { font-size: 1.7rem; }
    .injury-name{width: 9.5rem; font-size: 1rem;}
    .comprare .table-header tr th{font-size: 1rem;}
    .faq .sec-heading{padding-bottom: 1rem;}
    .faq .collage{width: 100%;}
    .faq .collage::before{ height: 95%;}
    .faq .accordion-button{font-size: 1.1rem;}
    .bg-typer{font-size: 1.2rem;}
    .advantage .card{padding-bottom: .8rem; height: auto; border-bottom: 1px solid #dee2e6 !important;}
    .specialties{padding-left: 0rem; padding-right: 0rem;}
    .specialties .col-12:nth-child(odd){border-right: none;}
    .specialties .col-12:last-child { border-top: 1px solid #dee2e6; }
    .sec-device { padding-bottom: 0rem;}
    .rating-container{ margin-bottom: 0rem;}
    .testimonial{padding-bottom: 0rem; padding-top: 1rem;}
    .testimonial .col-md-4{display: none;}
    .testimonial .mt-5{margin-top: 0rem !important;}
    .feedback{padding: 0px 2rem;}
    .feedback .owl-prev{left: -0.5rem !important;}
    .feedback .owl-next{right: -0.5rem !important;} 
    .rating-star div { margin-bottom: 0rem;  }
    .specialties .card:hover, 
    .pain-section .card:hover,
    .pain-section .card-img-top { max-height: 15rem; }
    .sec-abt-product{ padding-top: 3rem; padding-bottom: .8rem;}
    .sec-abt-product .mt-5{text-align: center;}
    .advantage .card-body{text-align: left;}
    .advantage .col-4{width:8rem;}
    .advantage .col-8{width:calc(100% - 8rem);}
    .advantage .adv-icon{display: none;}
    .adv-vertical-card{display: flex; flex-direction: row;}
    .advantage .card-title{font-size: 1.5rem; font-weight: 600; }
    .adv-card-1{height: auto;}
    .adv-card-2{height: auto;}
    .pain-section{margin-bottom: 3rem;}
    .comprare{padding-top: 1rem; padding-bottom: 2rem;}
    .review-wrpper{background-position: right; padding-left: 0.5rem; padding-right: 0.5rem;}
    .payment-type { max-width: 250px; }
    .benifit-sec .container { margin-top: -10rem;}
    .usesFor .owl-prev{left:-0.5rem;}
    .usesFor .owl-next{right:-0.5rem;}


}



@media only screen and (max-width: 575px) {
    .sec-heading {font-size: 1.6rem;    }
    .banner-container{width: 18.5rem;}
    .banner-container img{max-width: 12rem;}
    .banner-container::before {  height: 14rem;  }
    .feedback .card-title { padding-right: 0rem; }
    .feedback .txt-status{ position: relative;display: block; margin: 0.4rem 0rem 0.4rem 0.6rem;}
    .txt-high-light::before{left: 0.4rem; width: 96%; right: 0rem; top: auto; bottom: auto; height: 100%;}
    .txt-offer{font-size: 1rem;}
    .specialties { padding: 2rem 0rem; }
    .specialties .row{margin: 0rem;}
    .specialties .card { width: 100%; margin: 0.5rem 0rem;}
    .pain-section{padding-top: 2rem; margin-top: 0rem;}
    .pain-section .card-img-top {max-height: 18rem; }
    .pain-section .sec-heading {padding-bottom: 0rem;}
    .pain-section .card .col-4, .pain-section .card .col-8 { width: 100%; }
    .pain-section .img-media { height: 100%;  width: 100%;  min-height: auto;  max-height: none; }
    .testimonial{padding-bottom: 1rem;}
    .rating-bar ul{height: 118px;}
    .rating-text h1{font-size: 1.75rem;}
    .rating-star ul{margin-bottom: 0rem;}  
    .pain-section .card { width: 93%; margin: 1rem; }
    .sec-abt-product .container{border-radius: 0rem; padding: 3rem 1rem 1rem 1rem;}
    .img-xs-7{max-width: 100%;}
    .benifit-sec h6{font-size: 1rem;}
    .advantage .col-4 {width: 6rem; }
    .advantage .col-8 { width: calc(100% - 6rem);}
}

